<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Remove package="app.olauncher.ultra" from here -->

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!--For opening alarm app-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- Permission required for NotificationListenerService -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/ic_ultra"
        android:label="Ultra"
        android:roundIcon="@drawable/ic_ultra">

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FakeHomeActivity"
            android:enabled="false"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declare the Notification Listener Service -->
        <service
            android:name=".NotificationListener"
            android:label="Ultra Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>